<div id="proyectos" class="card mat-card" class="container" style="padding:16px;">
    <h2 class="heading" style="text-align:center">Proyectos</h2>

    <div class="container">
        <div class="row">

            <div>

                <div id="imagen-proyecto">
                    <img src="https://static.platzi.com/media/user_upload/Untitled-a5ef7788-65c3-4a9a-acfb-a907b72fde4c.jpg"style="width: 500px;"/>
                </div>
                
                <div id="info-proyecto" style="text-align: right">
                    <h3 style="text-align: center;">Página de error 404</h3>
                    <p style="text-align:justify ;">
                        Cree una página responsive de error 404. Se adapta al tamaño de cualquier dispositivo móvil o computador.
                    </p>
                </div>
               
            </div>
            

            <div>
                <div id="imagen-proyecto" >
                    <img src="../../../assets/Imagenes/PortfolioAry.png" style="width: 500px;"/>
                </div>
                
                <div id="info-proyecto"  style="text-align: right">
                    <h3 style="text-align: center;">Portfolio Ariadna</h3>
                    <p style="text-align:justify ;">
                        Diseño de un nuevo sitio web para el trabajo integrador de Yo Programo - Argentina Programa.   
                    </p>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
