<div id="cursos" class="card mat-card" class="container" style="padding:16px;">
    <h2 class="heading" style="text-align:center">Capacitacion</h2>

    <div class="container">
        <div class="row">

            <div>

                <div class="imagen-curso" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="Imagenes/argentina programa 2.jpg"/>
                </div>
                
                <div class="info-curso" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h3>ARGENTINA PROGRAMA “SÉ PROGRAMAR”.</h3>
                    <p>
                        Ministerio de Desarrollo Productivo Argentina – cessi ArgenTIna (Cámara de la Industria Argentina del Software de Argentina).
                    </p>
                    <a href="Imagenes/argentina_programa_octubre_diciembre_2021.pdf">Ver Certificado</a>
                </div>
               
            </div>
            

            <div>
                <div class="imagen-curso" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="Imagenes/expresar.jpg" />
                </div>
                
                <div class="info-curso" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h3>TALLER DE ORATORIA, ESCENIFICACIÓN Y LENGUAJE CORPORAL</h3>
                    <p>
                        Expresar Capacitaciones – Dictado FUPIACE (Fundación para la Promoción Innovadora del Arte, la Cultura y la Educación.
                    </p>
                </div>
                
            </div>
            
            <div>
                <div class="imagen-curso" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="Imagenes/expresar.jpg" />
                </div>
                
                <div class="info-curso" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h3>CURSO ORATORIA Y ESCRITURA CREATIVA</h3>
                    <p>
                        Expresar Capacitaciones – Dictado en la Facultad de Artes, Universidad Nacional de Tucumán.
                    </p>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
